streamlit
pandas
plotly
scikit-learn
fpdf
numpy
requests
bcrypt
openai
google-auth
google-auth-oauthlib
google-auth-httplib2
schedule
folium
xlsxwriter
streamlit-mic-recorder
extra-streamlit-components